<asn-slider [destination]="destination">
  <div id="innerwrapper" class="slide-wrapper">
    <div id="listOne" (@listState.start)="animStartedHandler($event)" (@listState.done)="animDoneHandler($event)"
      [@listState]="listOneState" [class.sr-only]="!sliding&&!listOneActive">
      <applist [apps]="listOne" [showActive]="showActive"></applist>
    </div>
    <div id="listTwo" [@listState]="listTwoState" [class.sr-only]="!sliding&&listOneActive">
      <applist [apps]="listTwo" [showActive]="!showActive"></applist>
    </div>
  </div>
  <div style="width: 100%;padding: 10px 0;">
    <button mat-raised-button id="load-more" color="primary" (click)="loadMore(limit)" [disabled]="loading">Mehr Laden</button></div>
</asn-slider>
