<footer class="asn-footer">
  <div class="asn-footer-list">
    <div class="asn-footer-logo">
      <div>
        <img src="/assets/img/logo.png" alt="AppStornews logo" class="asn-footer-site-logo">
        <span> AppStorNews</span>
      </div>
    </div>
    <div class="asn-footer-langs">
      <span i18n>SPRACHEN:</span>
      <span><a href="https://appstor.news">Deutsch</a></span>
      <span><a href="https://appstor.news/en/">English</a></span>
      <span>Français</span>
      <span>Español</span>
    </div>
    
    <div class="asn-footer-share">
      <ul class="pull-right">
        <li><a target="_blank"
            href="https://twitter.com/intent/tweet?url=http://appstor.news&text=Die letzten Preissenkungen, Schnäppchen, Deals und Gratis Angebote im Apple App Store"
            rel="noopener" i18n><i class="asn-icon icon-twitter"></i>Tweeten</a></li>
        <li><a target="_blank"
            href="https://www.facebook.com/dialog/feed?app_id=162579303950389&display=popup&link=http://appstor.news&description=Die letzten Preissenkungen, Schnäppchen, Deals und Gratis Angebote im Apple App Store&caption=%20&name=App Store News"
            rel="noopener" i18n><i class="asn-icon icon-facebook"></i>Teilen</a></li>
      </ul>
    </div>
  </div>
</footer>
